.cateContain {
    display: flex;
    flex-direction: column;
    user-select: none;
}
.prevImageDin {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgb(26, 23, 187);
}
.buttonContain {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    gap: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #fdfcfc;
}
.category {
    padding: 10px;
    border-radius: 15px;
    background-color: #ffffff;
    outline: none;
    border: none;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.category:hover {
    background-color: rgb(72, 23, 187);
    color: white;
}
.category:active {
    background-color: rgba(72, 23, 187, 0.527);
    box-shadow: none;
}
/*Contain View Product */
.containerProduct {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-start;
    background-color: #154399;
    user-select: none;
    padding-top: 10px;
    padding-bottom: 10px;
    gap: 10px;
}
.boxProduct {
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    outline: 1px black;
    padding: 5px;
    background-color: #a5c4fd;
}
.imgPrevContain .imgPrev {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}
.prodTitle {
    font-family: Arial, Helvetica, sans-serif;
}
.prodPrice {
    font-family: sans-serif;
    font-size: 90%;
}
@media screen and (min-width: 1200px) {
    .cateContain {
        margin-top: 9%;
    }
    .boxProduct {
        width: 11%;
    }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
    .cateContain {
        margin-top: 14%;
    }
    .boxProduct {
        width: 18.2%;
    }
}
@media screen and ( max-width: 767px) {
    .cateContain {
        margin-top: 29%;
    }
    .boxProduct {
        width: 46%;
    }
}